<div fxLayout="row wrap" fxLayoutGap="16px grid" style="padding: 10px;">
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let player of players">
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>{{player.name}}</mat-card-title>
        <img mat-card-avatar src="{{player.image}}" />
      </mat-card-header>
      <mat-card-content>
        <p>IsConnected: {{player.connected}}</p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button (click)="editPlayer(player)" mat-button>Edit</button>
        <button (click)="deletePlayer(player)" mat-button>Remove</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<button (click)="addPlayer()" mat-fab style="position:fixed; bottom:24px; right:16px;">
  <mat-icon>add</mat-icon>
</button>
