<mat-card *ngFor="let adventure of adventures">
  <mat-card-header>
    <mat-card-title>{{adventure.name}}</mat-card-title>
    <mat-card-subtitle>{{adventure.templateId}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Group count: {{adventure.groups.length}}</p>
    <p align="end">Scheduled for 17.07.2022 20:00 - 24:00</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button [routerLink]="['/adventures', adventure.id.toString()]">Show</button>
  </mat-card-actions>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>
